@font-face {
    font-family: 'Trajan';
    src: url('fonts/TrajanPro-Bold.otf'),
    url('fonts/TrajanPro-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}


*{
    margin: 0;
    padding: 0;
    font-family: 'Trajan', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

p{
    padding: 0;
    margin: 0;
}

.wallp{
    background-image: url(imagens/wallpaper.png);
    background-size: cover;
    width: 100%;
    height: 100vh;
    z-index: -1;
    position: absolute;
}

.timeline{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
}

.soloitem{
    text-align: center;
    color: white;
    padding: 30px;
    font-size: 100%;
    margin: 10px;
    position: relative;
}

.img{
    border: 3px solid yellow;
    border-radius: 100px;
    height: 156px;
    z-index: 3;
    position: relative;
}

.soloitem p{
    position: relative;
    z-index: 1;
    font-size: 14px;
}

.soloitem img{
    transition: transform 0.7s, border-radius 0.7s;
}

.soloitem img:hover{
    transform: scale(1.2);
    border-radius: 20px;
    cursor: pointer;
}

.wline::before{
    content: "";
    height: 3px;
    width: 350px;
    background-color: #999999;
    position: absolute;
    left: 50%;
    bottom: 53%;
    z-index: 1;
}

.tline::before{
    content: "";
    height: 330px;
    width: 3px;
    background-color: #999999;
    position: absolute;
    left: 50%;
    bottom: 53%;
    z-index: 1;
}

.yline::before{
    content: "";
    height: 3px;
    width: 350px;
    background-color: #999999;
    position: absolute;
    left: -50%;
    bottom: 53%;
    z-index: 1;
}

.janela-modal{
  width: 100vw;
  height: 100vh;
  position: relative;
  top: 0;
  left: 0;
  background-color: #222222be;
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.modal{
  width: 60%;
  min-width: 450px;
  min-height: 200px;
  background-color: rgba(61, 61, 61, 0.548);
  backdrop-filter: blur(10px);
  padding: 50px;
  border-radius: 20px;
  top: 100px;
  display: flex;
  color: rgb(241, 241, 241);
}

.fechar{
    position:absolute;
    top: -10px;
    right: -10px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 0;
    background-color: red;
    color: white;
    font-size: 20px;
    cursor: pointer;
    z-index: 999;
}

.janela-modal.abrir{
    display: flex;
}


.btn{
    position: relative;
    z-index: 2;
}

.btn:hover{
    background-color: orange;
}

.modal h1, .modal p{
    flex-direction: row;
}

.modal h1{
    font-size: 44px;
}

.modal h3{
    font-size: 22px;
    padding-bottom: 10px;
}

.modal::before, .modal::after{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    border: 2px solid yellow;
    border-radius: 20px;
    z-index: 998;
    top: 0%;
    left: 0%;
}

.modal::before{
    filter: blur(7px);
}

.textomodal{
    padding-left: 12px;
}

.textomodal p{
    color: #dddddd;
}

@keyframes abrirmodal{
    from{
        opacity: 0;
        transform: translate3d(0, 0, -20px);
    }
    to{
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

.abrir .modal{
    animation: abrirmodal 0.7s;
}