#meu-cabecalho {
    background-color: #333333;
    color: #000000;
    text-align: center;
    padding: 40px 20px;
    font-family: 'Cinzel', serif;
    
}

#meu-cabecalho h1 {
    font-size: 2.5em;
    margin: 20px;
    color: crimson;
}

#meu-cabecalho p {
    font-style: italic;
    color: #ccc;
    font-size: 1.2em;
}

#caixa{
    background-color: #3d3d3d;   
    padding: 20px;               
    margin: 30px auto;           
    border-radius: 10px;         
    max-width: 800px;            
    color: rgb(255, 255, 255);                
    box-shadow: 0 0 10px rgba(143, 33, 33, 0.6);
    font-family: 'Cinzel', serif;
    text-align: left;
}
#caixa h2{
    color: crimson;
    font-family: 'Cinzel', serif;;
}
#bem-vindo{
    color: crimson;
    font-family: 'Cinzel', serif;
    padding-left:10px;
    padding-right:10px;
}
#lista{
    font-size: medium;
    font-family: 'Cinzel', serif;
    color:rgb(255, 255, 255);
    padding-left: 10px;
    padding-right: 10px;
}
#lista dt{
    color:crimson
}

footer {
      background-color: #1a1a1a;
      padding: 50px 20px 20px;
      text-align: center;
    }

    .footer-content {
      max-width: 1200px;
      margin: 0 auto;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      gap: 30px;
      text-align: left;
      margin-bottom: 30px;
    }

    .footer-column h3 {
      color: #D4AF37;
      margin-bottom: 20px;
      font-size: 1.2rem;
      font-family: 'Cinzel';
    }

    .footer-column ul {
      list-style: none;
      
    }

    .footer-column ul li {
      margin-bottom: 10px; 
      ;
    }

    .footer-column ul li a {
      color: #CCCCCC;
      text-decoration: none;
      transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
      font-family: 'Montserrat';
    }

    .footer-column ul li a:hover {
      color: #8B0000;
      padding-left: 5px;
    }

    .link img{
        transition: all 0.5s;
    }

    .link img:hover {
        transform: translateY(-5px) ;
    }

    .copyright {
      padding-top: 20px;
      border-top: 1px solid #2d2d2d;
      color: #CCCCCC;
      font-size: 0.9rem;
      
    }

    .copyright p{
      font-family: 'Montserrat';
    }
